.main-add-post {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .navbar-back {
    width: 100%;
    height: 8%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: start;
    text-decoration: underline;
    padding-left: 5%;
  }
  .navbar-back p {
    cursor: pointer;
  }
  .inner-add-post-form {
    width: 100%;
    height: 92%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .child-add-post-form {
    width: 60%;
    height: 80%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .child-add-post-form form {
    width: 100%;
  }
  .inputFields {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px;
  }
  .child-add-post-form form div input {
    width: 99%;
    height: 30px;
    margin-top: 5px;
  }
  .child-add-post-form form div textarea {
    width: 99%;
    height: 150px;
    margin-top: 5px;
    resize: none;
  }
  .addPost-cancel-buttons {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }
  .addPost-cancel-buttons button {
    margin-right: 10px;
    padding: 10px 10px 10px 10px;
    height: 100%;
    border: none;
    color: rgb(253, 253, 253);
    cursor: pointer;
  }
  .submit-form {
    background-color: green;
  }
  .cancel-form {
    background-color: red;
  }